/* ================ Mọi file css bắt buộc phải có cái này */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
/* ========================================================= */